.git
.gitignore
*.md

terraform/

app/node_modules
node_modules

.env
.env.*
*.env
*.pem
*.key
*.p12
*.pfx
*credentials*
*secret*
*_accessKeys*
*.csv

Dockerfile
.dockerignore

coverage/
.nyc_output/
*.log
npm-debug.log*
